<div ng-controller="landingCtrl">
    <nav class="purple lighten-2">

        <div class="nav-wrapper">
            <a class="brand-logo center">Future Connect</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col l12">
                <table class="table bordered">
                    <caption>
                        <h3>Mentors</h3>
                    </caption>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Program</th>
                            <th>School</th>
                            <th>
                                <label>Search: <input ng-model="searchText"></label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="User in us | filter:searchText" ng-if="User.role == 2">
                            <td>{{ User.fName }} {{ User.lName }}</td>
                            <td>{{ User.major }}</td>
                            <td>{{ User.school }}</td>
                            <td>
                                <a href="mailto:{{ User.email }}">Email Me</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>